/**
 * Portenta-X8 dtb overlay file
 * Arduino 2023
 * Enable RS-485 on Pika-Spark carrier board and more
 */

/dts-v1/;
/plugin/;

#include "imx8mm-pinfunc.h"
#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/phy/phy-imx8-pcie.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "fsl,imx8mm-evk", "fsl,imx8mm";

	/* Pins mux and pad configuration */
	fragment@0 {
		target = <&iomuxc>;
		__overlay__ {
			pinctrl-0 = <&pinctrl_hog>;
			imx8mm {
				/* Pins connected to hw managed in user space configured as input pull down */
				pinctrl_hog: hoggrp {
					fsl,pins = <
						MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3			0x110 /* J1 74 nBNO085_IRQ */
						MX8MM_IOMUXC_SAI5_RXD2_GPIO3_IO23		0x110 /* J1 56 BNO085_BOOTN */
						MX8MM_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x110 /* J1 58 BNO085_nRST */
						MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4			0x110 /* J1 76 NCN26010_nIRQ */
						MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x110 /* J1 60 NCN26010_nRST */
					>;
				};

				/* Pins RS-485 */
				pinctrl_uart2: uart2grp {
					fsl,pins = <
						MX8MM_IOMUXC_SAI3_TXFS_UART2_DCE_RX		0x140
						MX8MM_IOMUXC_SAI3_TXC_UART2_DCE_TX		0x140
						MX8MM_IOMUXC_SAI3_RXC_UART2_DCE_CTS_B		0x140
						MX8MM_IOMUXC_SAI3_RXD_UART2_DCE_RTS_B		0x140
					>;
				};

				/* Pins PCIe */
				pinctrl_pcie0: pcie0grp {
					fsl,pins = <
						/* PCIE_nRST */
						MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25	0x41
						/* PCIE_CLKREQ open drain, pull up */
						/* MX8MM_IOMUXC_I2C4_SCL_PCIE1_CLKREQ_B	0x61 - needs another pin, the one that we use ... */
					>;
				};

			};
		};
	};

	/* RS-485 */
	fragment@1 {
		target = <&uart2>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart2>;
			assigned-clocks = <&clk IMX8MM_CLK_UART2>;
			assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
			linux,rs485-enabled-at-boot-time;
			/*rs485-rx-during-tx;*/
			rs485-rts-active-high;
			fsl,uart-has-rtscts;
			status = "okay";
		};
	};

	/* SPI0 */
	fragment@2 {
		target = <&ecspi2>;
		__overlay__ {
			status = "okay";
			spidev0: spidev@0 {
				compatible = "rohm,dh2228fv";
				spi-max-frequency = <1000000>;
				reg = <0>;
			};
		};
	};

	/* SPI1 */
	fragment@3 {
		target = <&ecspi1>;
		__overlay__ {
			status = "okay";
			spidev1: spidev@0 {
				compatible = "rohm,dh2228fv";
				spi-max-frequency = <1000000>;
				reg = <0>;
			};
		};
	};

	/* PCIe */
	fragment@4 {
		target-path = "/";
		__overlay__ {
			pcie0_refclk: pcie0-refclk {
				compatible = "fixed-clock";
				clock-cells = <0>;
				clock-frequency = <100000000>;
			};
		};
	};

	fragment@5 {
		target = <&pcie_phy>;
		__overlay__ {
			fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_INPUT>;
			fsl,tx-deemph-gen1 = <0x2d>;
			/*fsl,tx-deemph-gen2 = <0xf>;*/
			/*clocks = <&clk IMX8MM_CLK_PCIE1_PHY>;*/
			fsl,clkreq-unsupported;
			status = "okay";
		};
	};

	fragment@6 {
		target = <&pcie0>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_pcie0>;
			reset-gpio = <&gpio3 25 GPIO_ACTIVE_LOW>;
			clocks = <&clk IMX8MM_CLK_PCIE1_ROOT>,
				<&clk IMX8MM_CLK_PCIE1_AUX>,
				<&clk IMX8MM_CLK_PCIE1_PHY>,
				<&pcie0_refclk>;
			clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
			assigned-clocks = <&clk IMX8MM_CLK_PCIE1_AUX>,
				<&clk IMX8MM_CLK_PCIE1_PHY>,
				<&clk IMX8MM_CLK_PCIE1_CTRL>;
			assigned-clock-rates = <10000000>, <100000000>, <250000000>;
			assigned-clock-parents = <&clk IMX8MM_SYS_PLL2_50M>,
				<&clk IMX8MM_SYS_PLL2_100M>,
				<&clk IMX8MM_SYS_PLL2_250M>;
			ext_osc = <1>;
			dma-ranges = <0x40000000 0x0 0x40000000 0x80000000>;
			status = "okay";
		};
	};

	fragment@7 {
		target = <&pcie0_ep>;
		__overlay__ {
			status = "disabled";
		};
	};
};
